.header__logo {
  width: 150px;
  /*     filter: brightness(1.1);
    mix-blend-mode: multiply;
    transition: transform 0.2s; */
}

header {
  background-color: #654342;
}

header a {
  text-decoration: none;
  color: white;
}

#titulo {
  position: relative;
  z-index: 10;
  color: white;
}

#loginnone {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#registronone {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.titulo {
  color: white;
  z-index: 1;
  font-family: 'Courier New', Courier, monospace;
}

.subtitulo {
  color: white;
  z-index: 2;
}

.nav-item {
  transition: transform 0.2s;
}

.nav-item:hover {
  transform: scale(1.2);
}

.btn-danger {
  background-color: #4b3131 !important;
  border-color: #926657 !important;
  color: #c8956e !important;
}

header a {
  color: #c8956e !important;
}

.header2 {
  position: absolute;
  text-decoration: none;
  color: white;
  z-index: 888;
  background-color: #654342;
  width: 400px;
  height: 400px;
  right: 0;
  top: 20%;
  border-radius: 15px;
}

.header2 li {
  width: 200px;
}

.header2 a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 80vh;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1516031068-d61e87663edc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, black 0%, rgba(0, 212, 255, 0) 100%);
}

#registro {
  position: relative;
  z-index: 1;
}

#login {
  position: relative;
  z-index: 2;
}

.caja {
  background-color: grey;
}

.formulario {
  width: 300px;
}

.registronone1 {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.loginnone {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  /*     bottom: 0; */
  z-index: 2;
}

.modalCarrito {
  background-color: #462731;
  width: 320px;
  height: 470px;
  border-radius: 15px;
  position: fixed;
  right: 0;
  top: 5;
  z-index: 99999;
  color: #c8956e;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  transition: all 0.9s;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.modalCarrito__items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modalCarrito__botones {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.fa-circle-xmark {
  color: white;
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 20px;
}

#botondemodal {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 150px;
  height: 150px;
}

#botondemodal i {
  font-size: 30px;
}

.botoncitolindo {
  width: 100px;
  height: 100px;
  font-size: 40px;
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 9999;
  border-radius: 50%;
  border: 0;
  transition: all 0.2s;
  color: #4b3131;
  background-image: radial-gradient(circle at 50% -20.71%, #ffd679 0, #ffc776 12.5%, #fbb674 25%, #eca371 37.5%, #d8906c 50%, #c27e67 62.5%, #af6f62 75%, #9e645e 87.5%, #8f5a5a 100%);
  text-shadow: 4px 4px 10px #4b3131;
}

.botoncitolindo:hover {
  transform: scale(1.2);
}

/* MEDIA QUERYS */
#hamburgesa {
  display: none;
}

@media screen and (max-width: 960px) {
  #ulheader {
    display: none;
  }
  #hamburgesa {
    display: block;
    font-size: 40px;
    color: #c8956e;
    margin-right: 10%;
  }
}
/*# sourceMappingURL=estilos.css.map */