.modalCarrito{
    background-color:$-color1 ;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    position: fixed;
    right: 0;
    top: 5;
    z-index: 99999;
    color :#c8956e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
transition: all 0.9s;

}

.modalCarrito__items{
    display: flex;
    align-items: center;
}

.modalCarrito__botones{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}