.nosotros__p{
    width: 70%;
}

.nosotros__p2{
    margin:  20px 0 20px 0;
    font-style: oblique;
padding-top: 10px;
padding-bottom: 10px;
}

.nosotros__img{
    border-radius: 25px;
}

.titulos{
    font-family: DynaPuff, cursive;
}